<!DOCTYPE html>
<html lang="en">
<head>
  <title>fill the information in the form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</head>
<body>
  <p style="background-image: url('pic 2.jpg');"></p>
<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Markting profit</a>
    </div>
  </div>
</nav> -->
<div class="container">
  <form action="/slr" method="post">
    R&D Spend:
    <input type="number" name="rnd" class="form-control" required min="0"/<body style="background-color:hwb(243 39% 22%);"></body>>
    Adminstrator:
    <input type="number" name="admin" class="form-control" required min="0"/<body style="background-color:hsl(231, 58%, 66%);"></body>>
    Markting Spend:
    <input type="number" name="marketing" class="form-control" required min="0"/<body style="background-color:hwb(235 43% 26%);"></body>>
    <label for="dog-names">Select State:</label>
  <select name="state"<body style="background-color:#ad6c4c;"></body>>
      <option value="">State</option>
    <option value="California">California</option>
    <option value="Florida">Florida</option>
    <option value="New York">New York</option>
  </select>
  <input type="submit" class="btn btn-primary" value="Find profit">
</form>
</div>
</body>
</html>
<!DOCTYPE html>
<html>
<body style="background-color:#9045bb;">


</body>
</html>